.conten-compras {
    width: 100%;
    height: inherit;
    justify-content: center;
}

.formularios {
    width: 80%;
    margin: 1% auto;
    border-radius: 10px;
    display: flexbox;
    position: relative;
    justify-content: center;
}

.conten-form {
    background-color: rgba(136, 199, 241, 0.404);
    padding: 1%;
    width: 100%; 
    border-radius: 10px;
}

.icono {
    width: 15px;
    height: 15px;
}

.produ {
    width: 86%;
    margin: 1% auto;
    align-items: center;
}

.form {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: inherit;
}

.MuiInputBase-input::-webkit-scrollbar {
    width: 6px;
}

.MuiPaper-root::-webkit-scrollbar {
    width: 8px;;
}
  
.MuiInputBase-input::-webkit-scrollbar-track,
.MuiPaper-root::-webkit-scrollbar-track {
    background: rgba(136, 199, 241, 0.404);
    border-radius: 4px;
}
  
.MuiInputBase-input::-webkit-scrollbar-thumb:active,
.MuiPaper-root::-webkit-scrollbar-thumb:active {
    background-color: #5d76bd;
}
  
.MuiInputBase-input::-webkit-scrollbar-thumb,
.MuiPaper-root::-webkit-scrollbar-thumb {
    background: rgba(136, 199, 241, 0.404);
    border-radius: 4px;
}
  
.MuiInputBase-input::-webkit-scrollbar-thumb:hover,
.MuiPaper-root::-webkit-scrollbar-thumb:hover {
    background: #0659a7;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
  
.MuiInputBase-input::-webkit-scrollbar-track:hover,
.MuiInputBase-input::-webkit-scrollbar-track:active,
.MuiPaper-root::-webkit-scrollbar-track:hover,
.MuiPaper-root::-webkit-scrollbar-track:active {
    background: #5d76bd;
}

.conten-tabla {    
    margin: 1% 10% 1%;
    padding: 1%;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 57%;

}

.conten-button-compra {
    display: flex;
    justify-content: center;
}

.iconoDelete {
    color: rgba(216, 14, 14, 0.685);
  }
