.cont__admin {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttonAdminBack {
  width: 100%;
  justify-self: flex-start;
}

.tablaUsu {
  margin-top: 8%;
}

.contSearch {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
